body{
    background-color: palegreen;
}

html{
    font-size: 20px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: black 2px 2px 20px 2px;
    padding: 10px;
    color: brown;
    text-align: center;
}

footer{
    text-align: center;
    font-size: 30px;
    color: blue;
    font-weight: bold;
}

main > input{
    margin-top: 20px;
    background-color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: greenyellow;
    cursor: pointer;
}